/* Aula 4 - Força ou Queda */

/* Corpo */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fc;
  color: #333;
  text-align: center;
}

/* Cabeçalho */
header {
  background-color: #9c27b0;
  color: white;
  padding: 20px 0;
  font-size: 2em;
  font-weight: bold;
}

/* Logo */
.logo {
  max-width: 250px;
  margin: 20px auto;
  display: block;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

/* Título */
h1, h2 {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

/* Botões */
button {
  background-color: #9c27b0;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #7b1fa2;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(2px);
}

/* Rodapé */
footer {
  font-size: 0.9em;
  color: #777;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
/* Estilo para o botão de iniciar o jogo */
#iniciarJogoBtn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px;
}

#iniciarJogoBtn:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

#iniciarJogoBtn:active {
  transform: translateY(2px);
}
